/* Main stylesheet */
:root {
    --main-dark: #1A1C29;
    --secondary-dark: #1C1E2B;
    --bg-main: #292D3E;
    --white: #ffffff;
}


html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}

h1{
    margin: 0;
    padding-top: 2rem;
}

.main-container{
    background-color: var(--bg-main);
    color: var(--white);
    width: auto;
    height: auto;
    min-height: 100%;
    padding-bottom: 2rem;
}

#graph-nav-domain{
    background-color: var(--white);
    color: var(--main-dark);
    padding: 2rem;
    border-radius: 10px;

    margin: 1rem 4rem 2rem 4rem;

    min-height: 50vh;

    overflow: hidden;
}

svg{
    min-height: 600px;
}

#controller, #graph-controller{
    margin: 1rem;
    padding: 1rem;
}
#controller{
    background-color: aquamarine;
}
#controller button{
    width: 100px;
}
#graph-controller{
    background-color: red;
}