{% extends "base.html" %}
{% block title %} Graph-Based Navigation in TedTalks Collection {% endblock title %}

{% block body %}  
    <div style="text-align: center;">
        <h1>Graph-Based Navigation in TedTalks Speech Collection</h1>
        <br>
        <div style="display: flex; max-width: 600px; margin: auto;">
            <div id="graph-controller">
                <h3>Graph settings</h3>
                <button>Reset graph</button>
                <button>Zoom in</button>
                <button>Zoom out</button>
            </div>
            <div id="controller">
                <div>
                    <h3>Explore</h3>
                    <button id="selectRandNode-btn">Select random node</button> <br>
                </div>
                <div class="traversalBtns-container">
                    <button id="selectNearestNodeUp-btn">U</button>
                    <button id="selectNearestNodeRight-btn">R</button>
                    <button id="selectNearestNodeDown-btn">D</button>
                    <button id="selectNearestNodeLeft-btn">L</button>
                </div>
            </div>
        </div>

        <div style="display: flex; justify-content: space-between;">
            <div id="graph-nav-domain">
                <svg width="100%" height="100%"></svg>
            </div>
            <div id="node-details-container">
                <h2>Title</h2>
            </div>
        </div>
    </div>
    
{% endblock body %}